<select ng-model='scoreType' ng-change='generateScores()'>
  <option ng-repeat='gtype in gtypes' value='{{gtype.id}}'>{{gtype.name}}</option>
</select>

<div ng-show="scoreType == 3">
  <div class='box'>
    <button ng-click='changeAs(1, "str")'>&#x25B2</button>
    <button ng-click='changeAs(-1, "str")'>&#x25BC</button>
    {{str}} {{abilityScoresNames[0]}}
  </div>

  <div class='box'>
    <button ng-click='changeAs(1, "con")'>&#x25B2</button>
    <button ng-click='changeAs(-1, "con")'>&#x25BC</button>
    {{con}} {{abilityScoresNames[1]}}
  </div>

  <div class='box'>
    <button ng-click='changeAs(1, "dex")'>&#x25B2</button>
    <button ng-click='changeAs(-1, "dex")'>&#x25BC</button>
    {{dex}} {{abilityScoresNames[2]}}
  </div>

  <div class='box'>
    <button ng-click='changeAs(1, "int")'>&#x25B2</button>
    <button ng-click='changeAs(-1, "int")'>&#x25BC</button>
    {{int}} {{abilityScoresNames[3]}}
  </div>

  <div class='box'>
    <button ng-click='changeAs(1, "wis")'>&#x25B2</button>
    <button ng-click='changeAs(-1, "wis")'>&#x25BC</button>
    {{wis}} {{abilityScoresNames[4]}}
  </div>

  <div class='box'>
    <button ng-click='changeAs(1, "cha")'>&#x25B2</button>
    <button ng-click='changeAs(-1, "cha")'>&#x25BC</button>
    {{cha}} {{abilityScoresNames[5]}}
  </div>

  <div class='circle' ng-show='spendPoints != undefined'><p>{{spendPoints}}</p></div>
</div>
