<div class='select-ability-scores'>
  <select ng-model='scoreType' ng-change='generateScores()'>
    <option ng-repeat='gtype in gtypes' value='{{gtype.id}}'>{{gtype.name}}</option>
  </select>
</div>

<div class='ability-score-names'>
  <div>
    {{abilityScoresNames[0]}}
  </div>

  <div>
    {{abilityScoresNames[1]}}
  </div>

  <div>
    {{abilityScoresNames[2]}}
  </div>

  <div>
    {{abilityScoresNames[3]}}
  </div>

  <div>
    {{abilityScoresNames[4]}}
  </div>

  <div>
    {{abilityScoresNames[5]}}
  </div>
</div>

<div class='current-ability-scores'>
  <div>
    {{str}}
  </div>

  <div>
    {{con}}
  </div>

  <div>
    {{dex}}
  </div>

  <div>
    {{int}}
  </div>

  <div>
    {{wis}}
  </div>

  <div>
    {{cha}}
  </div>
</div>

<div class='inc-dec' ng-show="scoreType == 3">
  <div>
    <div ng-click='changeAs(1, "str")'>+</div>
    <div ng-click='changeAs(-1, "str")'>-</div>
  </div>

  <div>
    <div ng-click='changeAs(1, "con")'>+</div>
    <div ng-click='changeAs(-1, "con")'>-</div>
  </div>

  <div>
    <div ng-click='changeAs(1, "dex")'>+</div>
    <div ng-click='changeAs(-1, "dex")'>-</div>
  </div>

  <div>
    <div ng-click='changeAs(1, "int")'>+</div>
    <div ng-click='changeAs(-1, "int")'>-</div>
  </div>

  <div>
    <div ng-click='changeAs(1, "wis")'>+</div>
    <div ng-click='changeAs(-1, "wis")'>-</div>
  </div>

  <div>
    <div ng-click='changeAs(1, "cha")'>+</div>
    <div ng-click='changeAs(-1, "cha")'>-</div>
  </div>
</div>

<div class='points-left' ng-show='spendPoints != undefined && scoreType == 3'>{{spendPoints}}</div>

<button ng-click='updateAbilityScores()'>Save ability scores</button>

<hr/ >
<a href="/new_character/class">Next</a>

