@mixin radius-border {
  border-radius: 5px 5px 5px 5px;
}

.rounded-border {
  @include radius-border;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 10px;
  margin-top: 10px;
}

.step-header {
  @include radius-border;
  text-align: left;
  padding: 10px;
  background-color: #e0e0e0;
  color: white;
  font-weight: bold;
}

.left-bottom {
  float: right;
}

ul {
  li {
    line-height: 1.9em;
  }
  padding-left: 2px;
  display: inline-block;
  list-style: none;
}

.btn-mini {
  padding: 1px 5px;
}
