@mixin radius-border {
  border-radius: 5px 5px 5px 5px;
}

.rounded-border {
  @include radius-border;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 10px;
  margin-top: 10px;
}

.step-header {
  @include radius-border;
  padding: 10px;
  background-color: #3a3c3c;
  color: white;
  font-weight: bold;
}

.left-bottom {
  float: right;
}
