@mixin box {
  border: 1px solid black;
}

.select-ability-scores {
  height: 50px;
}

.current-ability-scores, .ability-score-names {
  display: inline-block;
  div {
    @include box;
  }
}

.inc-dec {
  display: inline-block;
  div {
    div {
      @include box;
      display: inline-block;
    }
  }
}

.box-inline {
  display: inline-block;
}

.points-left {
  margin-top: 10px;
  border: 1px solid red;
  width: 3em;
  text-align: center;
}
