.box {
  display: block;
  font-size: 1.5em;
  span {
    font-size: 0.5em;
  }
}

.box-inline {
  display: inline-block;
  font-size: 1.5em;
}

.circle {
  display: block;
  width: 5em;
  height: 5em;
  border: 2px solid black;
  -webkit-border-radius: 4.5em;

  p {
    text-align: center;
    font-size: 1.5em;
    margin-top: 1.1em;
  }
}
