<!-- Level -->
<select ng-model='level' ng-options="l for l in levels">
</select>

<a ng-click='updateLevel()'>Next</a>

<!-- Race -->

<select ng-model='raceId' ng-options="r._id as r.name for r in races">
</select>

<a ng-click='updateRace()'>Next</a>

<!-- Class -->
<select ng-model='classId' ng-options="c._id as c.name for c in classes">
</select>

<a ng-click='updateClass()'>Next</a>

<!-- Create new character -->
<a ng-click='newCharacter()'>Create new character</a>

<!-- Select character for editing -->
<select ng-model='characterId' ng-options='char._id as char.name for char in characters'></select>
<button ng-click="selectCharacter()">Select</button>

<!-- Ability scores -->
<div class='ability-score-names'>
  <div>
    {{abilityScoresNames[0]}}
  </div>

  <div>
    {{abilityScoresNames[1]}}
  </div>

  <div>
    {{abilityScoresNames[2]}}
  </div>

  <div>
    {{abilityScoresNames[3]}}
  </div>

  <div>
    {{abilityScoresNames[4]}}
  </div>

  <div>
    {{abilityScoresNames[5]}}
  </div>
</div>

<div class='current-ability-scores'>
  <div>
    {{str}}
  </div>

  <div>
    {{con}}
  </div>

  <div>
    {{dex}}
  </div>

  <div>
    {{int}}
  </div>

  <div>
    {{wis}}
  </div>

  <div>
    {{cha}}
  </div>
</div>

<div class='inc-dec'>
  <div>
    <div ng-click='changeAs(1, "str")'>+</div>
    <div ng-click='changeAs(-1, "str")'>-</div>
  </div>

  <div>
    <div ng-click='changeAs(1, "con")'>+</div>
    <div ng-click='changeAs(-1, "con")'>-</div>
  </div>

  <div>
    <div ng-click='changeAs(1, "dex")'>+</div>
    <div ng-click='changeAs(-1, "dex")'>-</div>
  </div>

  <div>
    <div ng-click='changeAs(1, "int")'>+</div>
    <div ng-click='changeAs(-1, "int")'>-</div>
  </div>

  <div>
    <div ng-click='changeAs(1, "wis")'>+</div>
    <div ng-click='changeAs(-1, "wis")'>-</div>
  </div>

  <div>
    <div ng-click='changeAs(1, "cha")'>+</div>
    <div ng-click='changeAs(-1, "cha")'>-</div>
  </div>
</div>

<div class='points-left' ng-show='spendPoints != undefined'>{{spendPoints}}</div>

<a ng-click='updateAbilityScores()'>Next</a>
