<div class='row'>
  <div class='col-lg-3'></div>
  <div class='col-lg-6'>
    <div class='rounded-border text-center'>
      <h1>Choose destiny</h1>
      <div class='container'>
        <%= button_tag 'Create Protagonist', class: 'btn btn-default', :'ng-click' => 'newCharacter()' %>
        <%= button_tag 'Choose Protagonist', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <div class='col-lg-3'></div>
</div>

<div class='row'>
</div>
